docs/
target/
temp.txt
Thumbs.db
src-tauri/target/
target/
**/target/

icons/
src-tauri/icons/
**/icons/

# 🖥️ IDE stuff
.vscode/
.idea/

# ⚡ Tauri build outputs
# dist/
build/
release/
cypheria.exe
app-icon.png